{{ document_title | upper }}
г. {{ signing_place }}, {{ signing_date }}

Сторона 1: {{ party_one }}.
Сторона 2: {{ party_two }}.

1. ПРЕДМЕТ АКТА
1.1. Сторона 1 передает, а Сторона 2 принимает имущество (объект): {{ transfer_subject }}.
1.2. Количество (комплектность) имущества составляет: {{ quantity }}.
1.3. Передача осуществляется в рамках основного договора либо иного основания, указанного Сторонами.

2. СОСТОЯНИЕ И КОМПЛЕКТНОСТЬ
2.1. Состояние имущества на момент передачи: {{ condition_state }}.
2.2. Сторона 2 осмотрела имущество, претензий по внешнему виду и комплектности не имеет.
2.3. Выявленные особенности и замечания фиксируются в отдельной ведомости и подписываются обеими Сторонами.

3. ПРАВА И ОБЯЗАННОСТИ СТОРОН
3.1. Сторона 1 подтверждает, что имущество принадлежит ей на законных основаниях и не обременено правами третьих лиц.
3.2. Сторона 2 обязуется использовать имущество по назначению и соблюдать условия его эксплуатации.
3.3. В случае обнаружения скрытых дефектов Стороны согласовывают порядок их устранения либо возврат имущества.

4. ЗАКЛЮЧИТЕЛЬНЫЕ УСЛОВИЯ
4.1. Акт является неотъемлемой частью основного договора и подтверждает исполнение обязательств по передаче.
4.2. Акт вступает в силу с момента его подписания Сторонами и составлен в равном количестве экземпляров.
4.3. Все изменения и дополнения к акту оформляются письменно и подписываются обеими Сторонами.

5. РЕКВИЗИТЫ И ПОДПИСИ
5.1. Стороны подтверждают достоверность указанных данных и полномочий на подписание акта.
5.2. Подписи:
Сторона 1: _____________________ /{{ party_one }}/
Сторона 2: _____________________ /{{ party_two }}/

---
{{ brand_note }}
