{{ document_title | upper }}
{{ place_of_issue }}, {{ issue_date }}

Я, {{ receiver_full_name }}, паспорт {{ receiver_passport }}, получил(а) от контрагента денежные средства в размере {{ amount_value }} рублей.

1. НАЗНАЧЕНИЕ ПЛАТЕЖА
1.1. Сумма передана в качестве задатка/аванса по обязательствам, вытекающим из сделки: {{ payment_purpose }}.
1.2. Денежные средства засчитываются в счет последующих платежей по основному договору.
1.3. Указанная сумма является доказательством заключения предварительных договоренностей между сторонами.

2. УСЛОВИЯ ВОЗВРАТА
2.1. При исполнении обязательств сумма задатка засчитывается в счет основного платежа.
2.2. В случае отказа приемлющей стороны задаток возвращается в двойном размере; при отказе плательщика задаток не возвращается.
2.3. Дополнительные условия возврата (если применимо) указываются в основном договоре или приложениях к нему.

3. ПОДТВЕРЖДЕНИЕ
3.1. Настоящая расписка составлена собственноручно, содержит достоверные сведения и может быть предъявлена в суде.
3.2. Расписка составлена в одном экземпляре и передана плательщику.

4. ПОДПИСЬ
4.1. Получатель денежных средств подтверждает факт получения и принятые обязательства.
4.2. Подпись: _____________________ /{{ receiver_full_name }}/

---
{{ brand_note }}
